@font-face{
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Black.ttf);
}

body{
    width: 100vw;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.dashboard{
    display:flex;
    flex-direction: column;
    background-color: #289CE8;
    color: white;
    gap: 2.5vh;
}

.dashboard > .nav{
    display:flex;
    flex-direction: column;
    gap: 8px;

}

.dashboard > .nav > a{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.title > p{
    font-size: 2.75em;
    font-weight: bold;
}

.title > img {
    width: 4.5em;
    padding:12px;
}

.link > p {
    font-size: 2em;
    font-weight:bold;
}

.link > img{
    padding: 12px;
    width: 2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.nav > .link{
    gap:22px;
}

.content{
    /*display:grid;
    grid-template-rows: 1fr 4fr;*/
}

.user-header-top{
    display:grid;
    grid-template-columns: 3fr 1fr;
    background-color: white;
    margin-top: 1vh;
}

.user-header-top > span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search{
    gap:16px;
    margin-left: 2vw;
}

.search > img{
    width: 2em;
}

.search > input{
    width: 85%;
    border-style: none;
    background-color: #E7E7E7;
    border-radius: 20px;
    padding: 13px;
}

.notis{
    margin-left: 10%;
}

.notis > p{
    font-weight: bold;
    font-size: 1.35em;
}

.icon{
    width: 2em;
}

.smallpropic{
    width: 3em;
    border-radius:50%;
    padding: 0 10% 0 10%;
}

.user-header-bottom{
    display:grid;
    grid-template-columns: 4fr 2fr;
    background-color: white;
    margin-top: 3vh;
}

.user-header-bottom > div{
    display: flex;
}

.user{
    margin-left: 2vw;
    gap: 26px;
    justify-content: flex-start;
    align-items: center;
}

.user > span{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.user > span > p{
    font-weight: bold;
    font-size: 1.75em;
}

.user > span > .user-greeting{
    font-size: 1em;
}

.user > img{
    border-radius: 50%;
    width: 6em;
}

.buttons{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttons > button{
    border-radius: 30px;
    border-style: none;
    background-color: #289CE8;
    color: white;
    padding: 15px 45px 15px 45px;
    font-weight: bold;
    font-size: 1em;
}

.content > .user-content{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #E6E6F3;
}

.icons{
    display:flex;
    justify-content: flex-end;
}

.icons > img{
    width:2em;
}

.trend-user > img{
    width: 3em;
    border-radius: 50%;
}

.projects{
    margin-left: 1vw;
    margin-top: 2vh;
}

.projects > p{
    font-size: 1.5em;
    font-weight: bold;
}

.cards > .card{
    width: 40%;
    height: 30%;
    background-color: white;
    border-radius: 15px;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 2%;
    flex-grow: 1;
}

.cards{
    display:flex;
    flex-wrap: wrap;
    gap: 23px;
    padding-right: 1vw;
}

.card-title{
    font-weight: bold;
}
